<div class="container">
<% @post.each do |post| %>
<ul class="media-list">
  <li class="media">
  	 <div class="media-body">
      
<%= link_to image_tag(post.image.url(:medium)),post.image.url %>
<br />

<%= post.description %>

<%= link_to like_post_path(post), method: :put, class: "btn btn-success btn-sm",remote: true do %>

<i class="fa fa-thumbs-up"> <span id="content"> <%= post.get_upvotes.size %></span></i>
<% end %>


<%= link_to unlike_post_path(post), method: :put, class: "btn btn-danger btn-sm" do %> 
<i class="fa fa-thumbs-down">  <%= post.get_downvotes.size %></i>

<% end %>


<% end %>
</div>
</ul>
</li>
</div>

